USE [master]
GO
/****** Object:  Database [ajedrez]    Script Date: 9/20/2025 7:40:32 PM ******/
CREATE DATABASE [ajedrez]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ajedrez', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ajedrez.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ajedrez_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ajedrez_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ajedrez].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ajedrez]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 9/20/2025 7:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[usuario] ([id], [name], [pass]) VALUES (1, N'pablo', N'peperoni')
INSERT [dbo].[usuario] ([id], [name], [pass]) VALUES (2, N'cande', N'pepe2')
GO
USE [master]
GO
