USE [master]
GO
/****** Object:  Database [ajedrez]    Script Date: 19/11/2025 06:58:35 ******/
CREATE DATABASE [ajedrez]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ajedrez', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ajedrez.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ajedrez_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ajedrez_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ajedrez].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ajedrez]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 19/11/2025 06:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[tipo_evento] [varchar](50) NOT NULL,
	[id_jugador] [int] NULL,
	[id_partida] [int] NULL,
	[id_jugador_blancas] [int] NULL,
	[id_jugador_negras] [int] NULL,
	[id_ganador] [int] NULL,
	[id_perdedor] [int] NULL,
	[empate] [bit] NULL,
	[duracion_segundos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugador]    Script Date: 19/11/2025 06:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugador](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugador_historial]    Script Date: 19/11/2025 06:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugador_historial](
	[id] [int] NOT NULL,
	[win] [int] NOT NULL,
	[tie] [int] NOT NULL,
	[loss] [int] NOT NULL,
	[time_played_seconds] [bigint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[bitacora] ([id], [fecha], [tipo_evento], [id_jugador], [id_partida], [id_jugador_blancas], [id_jugador_negras], [id_ganador], [id_perdedor], [empate], [duracion_segundos]) VALUES (1, CAST(N'2025-11-17T10:22:26.270' AS DateTime), N'LOGIN', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[bitacora] ([id], [fecha], [tipo_evento], [id_jugador], [id_partida], [id_jugador_blancas], [id_jugador_negras], [id_ganador], [id_perdedor], [empate], [duracion_segundos]) VALUES (2, CAST(N'2025-11-17T10:22:31.453' AS DateTime), N'LOGIN', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[bitacora] ([id], [fecha], [tipo_evento], [id_jugador], [id_partida], [id_jugador_blancas], [id_jugador_negras], [id_ganador], [id_perdedor], [empate], [duracion_segundos]) VALUES (3, CAST(N'2025-11-17T10:28:03.280' AS DateTime), N'LOGOUT', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[jugador] ([id], [name], [pass]) VALUES (1, N'pablo', N'cruz')
INSERT [dbo].[jugador] ([id], [name], [pass]) VALUES (2, N'cande', N'britos')
INSERT [dbo].[jugador] ([id], [name], [pass]) VALUES (3, N'agus', N'barba')
GO
INSERT [dbo].[jugador_historial] ([id], [win], [tie], [loss], [time_played_seconds]) VALUES (1, 18, 0, 3, 495)
INSERT [dbo].[jugador_historial] ([id], [win], [tie], [loss], [time_played_seconds]) VALUES (2, 1, 0, 18, 378)
INSERT [dbo].[jugador_historial] ([id], [win], [tie], [loss], [time_played_seconds]) VALUES (3, 2, 0, 0, 117)
GO
USE [master]
GO
